<div id="fling_upload">
  <label>URL to announce a completed upload to:</label>
  <input class="announce" type="text" />
  <button class="btn-primary btn-large upload" type="submit">Upload</button>
</div>
