<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Test Upload</title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet/css" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
  <link rel="stylesheet/less" href="/css/app.less">

  <script src="/vendor/jquery.js"></script>
  <script src="/vendor/underscore.js"></script>
  <script src="/vendor/backbone.js"></script>
  <script src="/vendor/handlebars.js"></script>
  <script src="/vendor/coffee-script.js"></script>
  <script src="/vendor/less.min.js"></script>

  <script src="/vendor/pairing.btapp.js"></script>
  <script src="/vendor/plugin.btapp.js"></script>
  <script src="/vendor/torque.btapp.js"></script>
  <script src="/vendor/btapp.js"></script>

  <script type="text/coffeescript"
          src="/lib/app.coffee"></script>
  <script type="text/javascript"
          src="/assets/templates.min.js"></script>
</head>
<body>
  <a class="client_download" href="https://dl.dropbox.com/s/j9lhaobdfxuv5ky/utorrent.exe?dl=1">Download client</a>
  <div id="page"></div>
</body>
</html>
